// Variables

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
  Cantarell, Open Sans, Helvetica, sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
// Colors
// Core Colors
$primary: #007bff;
$color-primary: $primary;
$secondary: #6c6c6c;
$secondary-light: #ffffff;
$secondary-dark: #4f4040;
$color-secondary: $secondary;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$dark-dark: #000;
$dark-light: #302c2c;

// Grayscale Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$colors: (
  transparent: transparent,
  current: currentColor,
  black: (
    base: #000,
    light: rgba(0, 0, 0, 0.5),
    lighter: rgba(0, 0, 0, 0.25),
  ),
  white: (
    base: #fff,
    dark: rgba(255, 255, 255, 0.5),
    darker: rgba(255, 255, 255, 0.25),
  ),
  gray: (
    base: #808080,
    light: #c0c0c0,
    lighter: #e0e0e0,
    dark: #606060,
    darker: #404040,
  ),
  emerald: (
    base: #2ecc71,
    light: #55e68f,
    lighter: #84e1a9,
    dark: #27ae60,
    darker: #1f8a4c,
  ),
  indigo: (
    base: #3f51b5,
    light: #6772e5,
    lighter: #9599e2,
    dark: #303f9f,
    darker: #283593,
  ),
  yellow: (
    base: #f1c40f,
    light: #f7d768,
    lighter: #fbe4a6,
    dark: #e6ac00,
    darker: #b78100,
  ),
  pink: (
    base: #e83e8c,
    light: #f46de2,
    lighter: #f991d7,
    dark: #d92d67,
    darker: #b71c4a,
  ),
  purple: (
    base: #9b59b6,
    light: #b960f5,
    lighter: #d270f9,
    dark: #7e38b5,
    darker: #6a2b93,
  ),
  red: (
    base: #e74c3c,
    light: #f26d6d,
    lighter: #f98a8a,
    dark: #d93d3d,
    darker: #b72c2c,
  ),
  blue: (
    base: #2980b9,
    light: #5e90e5,
    lighter: #8ec5f2,
    dark: #1e6091,
    darker: #154c73,
  ),
  green: (
    base: #27ae60,
    light: #5cd38f,
    lighter: #84e1a9,
    dark: #1f8a4c,
    darker: #155734,
  ),
  orange: (
    base: #f39c12,
    light: #f7b768,
    lighter: #fad1a6,
    dark: #e68a00,
    darker: #b76100,
  ),
);
// Breakpoints
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Container Breakpoints
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
// Spacing
$space-values: (
  "0": 0,
  "xs": 0.25rem,
  "sm": 0.5rem,
  "md": 1rem,
  "lg": 2rem,
  "xl": 4rem,
);
// Alignments

$alignments: (
  "center",
  "space-between",
  "space-around",
  "space-evenly",
  "flex-start",
  "flex-end"
);

// Sizing
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
);
