// Border Utilities

// Border Width
@each $prop,
  $abbrev
    in (
      border: b,
      border-top: bt,
      border-right: br,
      border-bottom: bb,
      border-left: bl
    )
{
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      @for $i from 0 through 5 {
        .#{$abbrev}-#{$breakpoint}-#{$i} {
          #{$prop}-width: #{$i}px;
        }
      }
    }
  }
}

// Border Style
@each $prop,
  $abbrev
    in (
      border: b,
      border-top: bt,
      border-right: br,
      border-bottom: bb,
      border-left: bl
    )
{
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      .#{$abbrev}-#{$breakpoint}-solid {
        #{$prop}-style: solid;
      }
      .#{$abbrev}-#{$breakpoint}-dashed {
        #{$prop}-style: dashed;
      }
      .#{$abbrev}-#{$breakpoint}-dotted {
        #{$prop}-style: dotted;
      }
      .#{$abbrev}-#{$breakpoint}-double {
        #{$prop}-style: double;
      }
      .#{$abbrev}-#{$breakpoint}-none {
        #{$prop}-style: none;
      }
    }
  }
}

// Border Color
$colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8,
  "light": #f8f9fa,
  "dark": #343a40,
);

@each $prop,
  $abbrev
    in (
      border: b,
      border-top: bt,
      border-right: br,
      border-bottom: bb,
      border-left: bl
    )
{
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      @each $color, $value in $colors {
        .#{$abbrev}-#{$breakpoint}-#{$color} {
          #{$prop}-color: $value;
        }
      }
    }
  }
}

// Border Radius
@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 0 through 10 {
      .rounded-#{$breakpoint}-#{$i} {
        border-radius: #{$i}px;
      }
    }
  }
}
